h1{
    text-align: center;
}

#forecast{
    text-align: center;
}
#containerNav{
    height: 100%; 
    width: 12rem; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: grey; 
    overflow-x: hidden; 
    padding-top: 20px;
    padding-left: 10px;
  }

  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }

span{
    padding: 5px;
    border-radius: 35%;
    
}

  #cityInfo{
      text-align: center;
  }
  /* UV index colors */

  .low{
      background-color: green;
  }

  .moderate{
      background-color: yellow;
  }

  .high{
      background-color: darkorange;
  }

  .very-high{
      background-color: red;
  }

  .extreme{
      background-color: purple;
  }

  .five-day{
      display: inline-block;

      padding: 20px;
  }

